/* Layout CSS for plain React app */
body, html, #root {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  margin-left: 72px; /* to accommodate sidebar space */
}

.app-container {
  display: flex;
  height: 100vh; 
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  overflow-y: auto;
  flex: 1;
  background-color: #b7e4f0;
}
