.account-update-container {
  max-width: 500px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.account-update-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.account-update-form .form-group {
  margin-bottom: 15px;
}

.account-update-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.account-update-form input,
.account-update-form select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.update-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.update-btn {
  background-color:  #1fa83f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #888;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #0056b3;
}
