.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16b746;
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(2, 214, 58, 0.2);
}

.navbar h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}



.logout-btn {
  background-color: #ef233c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #d90429;
}
