.sidebar {
  width: 200px;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar nav a:hover {
  text-decoration: underline;
}
